.back {
    background-color: pink;
    color: #fff;
    padding: 5px 12px;
    width: 150px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.black-color {
    color: '#000';
}
.pink-color {
    color: rgba(231, 162, 173, 0.87);
}
.blue-color {
    color: rgb(132, 191, 247);
}